.pickerbox-datagrid-toolbar {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    height: 28px;
    padding: 1px 2px;
}
 
.pickerbox-datagrid-view {
    overflow: hidden;
    position: relative;
} 
.pickerbox-datagrid-wrap {
    position: relative;
} 
.pickerbox-panel-tool a
{
    cursor: pointer;
    text-decoration: none;
}

.pickerbox-panel{
	overflow:hidden;
	font-size:12px;
	margin-bottom: 5px;
	*margin-bottom: 3px;
}
.pickerbox-panel-header{
	padding:5px;
	line-height:15px;
	color:#15428b;
	font-weight:bold;
	font-size:12px;
	background:url('../Images/panel_title.png') repeat-x;
	position:relative;
	border:1px solid #99BBE8;
}
.pickerbox-panel-title{
	background:url('../Images/blank.gif') no-repeat;
}
.pickerbox-panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #99BBE8;
}
.pickerbox-panel-body{
	overflow:auto;
	border:1px solid #99BBE8;
	border-top-width:0px;
}
.pickerbox-panel-body-noheader{
	border-top-width:1px;
}
.pickerbox-panel-body-noborder{
	border-width:0px;
}
.pickerbox-panel-with-icon{
	padding-left:18px;
}
.pickerbox-panel-icon{
	position:absolute;
	left:5px;
	top:4px;
	width:16px;
	height:16px;
}

.pickerbox-panel-tool{
	position:absolute;
	right:5px;
	top:4px;
}
.pickerbox-panel-tool div{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-left:2px;
	cursor:pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.pickerbox-panel-tool div.pickerbox-panel-tool-over{
	opacity:1;
	filter:alpha(opacity=100);
}
.pickerbox-panel-tool-close{
	background:url('../Images/panel_tools.gif') no-repeat -16px 0px;
}
.pickerbox-panel-tool-min{
	background:url('../Images/panel_tools.gif') no-repeat 0px 0px;
}
.pickerbox-panel-tool-max{
	background:url('../Images/panel_tools.gif') no-repeat 0px -16px;
}
.pickerbox-panel-tool-restore{
	background:url('../Images/panel_tools.gif') no-repeat -16px -16px;
}
.pickerbox-panel-tool-collapse{
	background:url('../Images/panel_tool_collapse.gif') no-repeat;
}
.pickerbox-panel-tool-expand{
	background:url('../Images/panel_tool_expand.gif') no-repeat;
}
.pickerbox-panel-loading{
	padding:11px 0px 10px 30px;
	background:url('../Images/panel_loading.gif') no-repeat 10px 10px;
}

.pickerbox-icon-edit{
	background:url('../icons/pencil.png') no-repeat;
}
/**************icon********************/

.pickerbox-icon-blank{
	background:url('../icons/blank.gif') no-repeat;
}
.pickerbox-icon-add{
	background:url('../icons/edit_add.png') no-repeat;
}
.pickerbox-icon-edit{
	background:url('../icons/pencil.png') no-repeat;
}
.pickerbox-icon-remove{
	background:url('../icons/edit_remove.png') no-repeat;
}
.pickerbox-icon-save{
	background:url('../icons/filesave.png') no-repeat;
}
.pickerbox-icon-cut{
	background:url('../icons/cut.png') no-repeat;
}
.pickerbox-icon-ok{
	background:url('../icons/ok.png') no-repeat;
}
.pickerbox-icon-no{
	background:url('../icons/no.png') no-repeat;
}
.pickerbox-icon-cancel{
	background:url('../icons/cancel.png') no-repeat;
}
.pickerbox-icon-reload{
	background:url('../icons/reload.png') no-repeat;
}
.pickerbox-icon-search{
	background:url('../icons/search.png') no-repeat;
}
.pickerbox-icon-print{
	background:url('../icons/print.png') no-repeat;
}
.pickerbox-icon-help{
	background:url('../icons/help.png') no-repeat;
}
.pickerbox-icon-undo{
	background:url('../icons/undo.png') no-repeat;
}
.pickerbox-icon-redo{
	background:url('../icons/redo.png') no-repeat;
}
.pickerbox-icon-back{
	background:url('../icons/back.png') no-repeat;
}
.pickerbox-pickerbox-icon-sum{
	background:url('../icons/sum.png') no-repeat;
}
.pickerbox-icon-tip{
	background:url('../icons/tip.png') no-repeat;
}


a.pickerbox-l-btn {
    background: url("../Images/button_a_bg.gif") no-repeat scroll right top transparent;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    outline: medium none;
    padding-right: 18px;
    text-decoration: none;
}
a.pickerbox-l-btn-plain {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid transparent;
    padding-right: 5px;
}
a.pickerbox-l-btn-disabled {
    color: #CCCCCC;
    cursor: default;
    opacity: 0.5;
}
a.pickerbox-l-btn span.pickerbox-l-btn-left {
    background: url("../Images/button_span_bg.gif") no-repeat scroll left top transparent;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 4px 0 4px 18px;
}
a.pickerbox-l-btn-plain span.pickerbox-l-btn-left {
    background: none repeat scroll 0 0 transparent;
    padding-left: 5px;
}
a.pickerbox-l-btn span span.pickerbox-l-btn-text {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0;
}
a.l-btn span span span.pickerbox-l-btn-empty {
    display: inline-block;
    padding: 0;
    width: 16px;
}
a.pickerbox-l-btn:hover {
    background-position: right bottom;
    outline: medium none;
}
a.pickerbox-l-btn:hover span.pickerbox-l-btn-left {
    background-position: left bottom;
}
a.pickerbox-l-btn-plain:hover {
    background: url("../Images/button_plain_hover.png") repeat-x scroll left bottom transparent;
    border: 1px solid #7EABCD;
    border-radius: 3px 3px 3px 3px;
}
a.pickerbox-l-btn-disabled:hover {
    background-position: right top;
}
a.pickerbox-l-btn-disabled:hover span.pickerbox-l-btn-left {
    background-position: left top;
}

